<h1>Congratulations; you just added a CD!!</h1>
<h1>There is your # @Model.GetId()</h1>
<p>The Arities you just Add : @Model.GetArtist()</p>
<p>The title is @Model.GetTitle() </p>
<a href="/addNew"> Add More Cds</a>
<a href="/allCds"> View All Cds</a>
<a href="/searchByArtist"> Search Cds by Artists</a>
