<form  action="/add_new" method="post">
  <label for="artist">Enter the artist here:</label>
  <input name="artist" id="artist" type="text">
  <label for="title">Enter the album title:</label>
  <input name="title" id="title" type="text">
  <button type="submit">Submit</button>
</form>
