<form class="" action="/result" >
  <label for="search-artist"> Type an artist you want to know</label>
  <input type="text" name="search-artist" id="search-artist">
  <button type="submit" name="button">Submit</button>
</form>
<a href="/addNew"> Add More Cds</a>
<a href="/allCds"> View All Cds</a>
